<div class="w-screen h-screen grid gap-4 p-4 bg-lightBrown flex flex-col align-center">
<h2 class="flex flex-col items-center tracking-widest text-4xl font-semibold text-white">Add a Campaign Note</h2>
<%= form_with model: [ @campaign, @campaign.notes.build ] do |form| %>
   <div class="w-full h-full mb-4 border border-lightBrown rounded-lg bg-light">
       <div class="h-5/6 px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
           <%= form.text_area :entry,
            placeholder: "Your Notes Here",
            class: "w-full h-full px-0 text-sm text-gray-900 bg-white border-0" %>
       </div>
       <div class="flex items-end justify-end px-3 py-2 border-t dark:border-gray-600">
           <%= form.submit "Add New Campaign Note", class: "inline-flex items-center py-2.5 px-4 text-s font-medium text-center text-white bg-darkBrown rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-lightBrown"%>
       </div>
   </div>
<% end %>
</div>