<div>
    <a href="#" class="block max-w-md p-6 bg-darkBrown border border-white rounded-full shadow hover:bg-lightBrown">

    <h5 class="mb-2 text-2xl font-bold tracking-wide text-white">Generate NPC</h5>
    </a>
</div>